@import '~design-system/_sass/reusable-components/_design-system-config.scss';

.composer {
    position: absolute;
    bottom: 1rem;
    z-index: 300;

    height: 520px;
    width: 600px;

    background: var(--bgcolor-main-area, $white);
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.16);
    color: var(--color-main-area, $pm-global-grey);
}

.composer-blur * {
    opacity: 0.8;
}

.composer-title-bar {
    width: calc(100% + 1em);
    padding: 0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    margin-left: -0.5em;

    background: var(--bgcolor-main-area, #3c414e);
    color: #fff;
}

.composer-minimized .composer-title-bar {
    margin-bottom: 0;
}

.pm-button.composer-title-bar-button {
    padding: 0 0.5em;
    background: unset;
    border: unset;
    border-radius: unset;

    display: flex;
    color: #fff;
}

.pm-button.composer-title-bar-button:hover {
    box-shadow: unset;
}

.pm-button.composer-title-bar-button:active {
    background: unset;
}

.pm-label.composer-meta-label {
    padding-top: 0;
    padding-right: 1em;
    max-width: 8em;
    width: 15%;
}

.composer-addresses-fakefield {
    padding: 0.4em 0.85em;
    max-height: 2.5em;
    background: var(--bgcolor-input, #fcfdff);
}

.composer-addresses-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 2.6rem;
    vertical-align: middle;
    width: 100%;
    position: relative;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;

    padding-top: 0.4em;
    padding-bottom: 0.1em;

    input {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.composer-addresses-item {
    background-color: var(--bgcolor-item-column-list, #f6f7fa);
    margin-bottom: 5px;
    margin-right: 5px;
    text-shadow: none;
}

.composer-addresses-item.invalid {
    border-color: #fc2929;
    color: #fc2929;
}

.composer-addresses-item-label {
    border-left: 1px solid var(--bordercolor-input, #dde6ec);
    border-right: 1px solid var(--bordercolor-input, #dde6ec);
}

.composer-addresses-item-remove {
    background: none;
    border: none;
}

.composer-quill {
    // height: calc(100% - 3em);
    height: 100px;
    margin-bottom: 50px;
}

.composer-attachments-button-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    input[type='file'] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

.composer-attachments-expand {
    overflow: auto;
    border-top: 1px solid #dde6ec;
}
